<DOCTYPE HTML>
    <html>
        <head>
            <title>Static File Exercise</title>
            <style>
                body{
                    color: white;
                    background-color: black;
                }
                .Form{
                    text-align: center;
                }
            </style>
            <!-- Inject Django URL into JS variable first -->
            
        </head>
        <body>
            <a target="_self"  style="color: black;" href="{% url 'imagex' %}">Click Here</a>
            <form class="Form">
                <input type="button" onclick="display()" value="Click Here">
            </form>
        </body>
    </html>