<html>
    <head>
        <title>Input Processing Exercise</title>
        <style>
             body{
                text-align: center;
                color: whitesmoke;
                background-color: black;
                border-width: 5px;
                border-style: solid;
                border-color: blueviolet;
        }
        #Name{
            padding: 10px;
            border-radius: 10px;
            border-color: brown;
            border-style: solid;
            text-align: left;
            
        }
        </style>
    </head>
    <body>
        <div>
           <h1>Input Processing Exercise</h1>
        </div>
        <div id="Name">
            <form action="{% url 'outputhtml' %}" method="get">
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name"><br>
                <input style="background-color: aqua;" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>